@model IEnumerable<DemoDoAnLTCSDL.Models.KhachHang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Tạo liên hệ mới", "Create")
</p>
<table class="table table-dark table-striped ">
    <tr>
        <th>
            <center>
                Tên Khách hàng
            </center>
        </th>
        <th>
            <center>
                Địa chỉ
            </center>
        </th>
        <th>
            <center>
                Số điện thoại
            </center>
        </th>
        <th>
            <center>
                Fax
            </center>
        </th>
        <th>
            <center>
                Email
            </center>
</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Fax)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Email)
                </center>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaKH }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaKH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>
